.box {
  margin-top: 8vh;
  width: 100%;
  height: 92vh;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.box .chatArea {
  flex: 1;
  height: 97%;
  width: 50%;
  justify-content: center;
}
.box .chatArea .chatWindow {
  display: flex;
  flex-direction: column;
  margin-left: 1%;
  margin-top: 2%;
  width: 100%;
  height: 99%;
  justify-content: center;
  border-radius: 20px;
  background-color: rgba(49, 49, 49, 0.416);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 2px solid rgba(146, 146, 146, 0.18);
  box-shadow: 0 1px 1px 0 rgba(130, 130, 130, 0.37);
}
.box .chatArea .chatWindow .chatbox {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 90%;
  border-bottom: solid 1px rgba(179, 177, 177, 0.419);
  overflow-y: scroll;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.box .chatArea .chatWindow .chatbox::-webkit-scrollbar {
  display: none;
}
.box .chatArea .chatWindow .chatbox .bot {
  display: inline-block;
  border-radius: 20px;
  padding-left: 2%;
  margin: 0.5%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
.box .chatArea .chatWindow .chatbox .bot .markdown {
  width: -moz-fit-content;
  width: fit-content;
  max-width: 80%;
  margin-bottom: 1.5%;
  margin-top: 1.5%;
  background: linear-gradient(135deg, #1d1c1c, rgba(0, 0, 0, 0.392));
  border: solid 1px rgba(179, 177, 177, 0.419);
  box-shadow: 5px rgba(228, 227, 227, 0.419);
  color: rgb(175, 175, 175);
  border-radius: 20px 20px 20px 2px;
  padding: 1% 2% 1% 2%;
}
.box .chatArea .chatWindow .chatbox .user {
  display: inline-block;
  border-radius: 20px;
  padding-right: 4%;
  margin: 0.5%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.box .chatArea .chatWindow .chatbox .user .markdown {
  width: -moz-fit-content;
  width: fit-content;
  max-width: 80%;
  background: linear-gradient(135deg, rgba(20, 20, 20, 0.392), rgba(25, 25, 25, 0.392));
  border: solid 1px rgba(179, 177, 177, 0.419);
  box-shadow: 5px rgba(228, 227, 227, 0.419);
  color: rgb(175, 175, 175);
  border-radius: 20px 20px 2px 20px;
  padding: 1% 2% 1% 2%;
}
.box .chatArea .chatWindow .chatInput {
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  place-content: center;
  justify-content: center;
  align-items: center;
}
.box .chatArea .chatWindow .chatInput input {
  flex: 9;
  height: 80%;
  border-radius: 20px;
  margin-left: 10px;
  padding-left: 3%;
  background-color: transparent;
  outline: none;
  border: none;
  background-color: #2a2e2e;
  color: rgb(175, 175, 175);
  resize: none;
}
.box .chatArea .chatWindow .chatInput .send {
  flex: 1;
  color: rgb(154, 153, 153);
  font-size: 2.2rem;
  cursor: pointer;
}
.box .chatArea .chatWindow .chatInput .send:hover {
  color: white;
}
.box .moviesSugest {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-left: 1%;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
.box .moviesSugest::-webkit-scrollbar {
  display: none;
}
.box .moviesSugest .moviesArea_next {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 10px; /* Adjust the gap between cards */
  padding: 15px;
}
@media (max-width: 430px) {
  .box {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .box .chatArea {
    width: 95%;
    flex: 3;
    max-height: 80%;
    padding-bottom: 3% !important;
    padding-top: 2%;
    overflow: hidden;
  }
  .box .chatArea .chatWindow .chatbox {
    height: 85%;
  }
  .box .chatArea .chatWindow .chatInput {
    height: 15%;
  }
  .box .moviesSugest {
    flex: 2;
    width: 100%;
  }
  .box .moviesSugest .moviesArea_next {
    display: grid;
    overflow: scroll;
  }
}/*# sourceMappingURL=assistant.css.map */