.glass{
    position: absolute;
    color: white;
    left:15%;
    top: 5vh;
    width: 70%;
    height: 90vh;
    border-radius: 20px;
    align-items: center;
    // background: #0000007c;
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.392), rgba(144, 144, 144, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,0.18);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);

    & .Construction{
        display: flex;

        & .movie-backdrop{
        flex: 1;
        border-radius: 20px 0 0 20px;
        position: relative;
        height:  90vh;

        & .DetailsDection{
            // flex: 1;
            background-color: aliceblue !important;

            & .titleSection{
                font-size: 5.5rem;
                font-weight: 700;
                margin: 0;
                padding: 0;
                background-color: aliceblue;
            }
        }
    }
    }


    
}