body, html, #root {
  height: 100%;
  margin: 0;
}

.mainlayout {
  display: flex;
  height: 100vh;
}
.mainlayout .drawer {
  display: flex;
  flex-direction: column;
  width: 5%;
  border-right: 1px solid rgba(255, 255, 255, 0.186);
  background: #191a1a;
  box-shadow: 4px 0 10px rgba(0, 0, 0, 0.2), 2px 0 5px rgba(0, 0, 0, 0.1) !important;
  place-items: center;
  align-content: center;
  z-index: 1005;
}
.mainlayout .drawer .mainicon {
  color: white;
  width: 55%;
  margin-top: 20px;
  margin-bottom: 60px;
  cursor: pointer;
}
.mainlayout .drawer .Icons {
  color: white;
  width: 120%;
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 30px;
  cursor: pointer;
  /* Additional subtle right-side shadow */
}
.mainlayout .drawer .bottomIcon {
  position: absolute;
  color: white;
  font-size: 30px;
  bottom: 30px;
  cursor: pointer;
}
.mainlayout .drawer .bottomIcon:hover {
  color: #767676;
}
.mainlayout .content {
  width: 95%;
  background: #191a1a;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.mainlayout .content .navSection {
  position: fixed;
}
.mainlayout .content .section {
  overflow-y: scroll;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.mainlayout .content .section::-webkit-scrollbar {
  display: none;
}
.mainlayout .content .section .mainWrapper {
  margin-top: 9vh;
}
.mainlayout .content .section h1 {
  color: azure;
  margin-top: 20px;
  font-size: 25px;
  margin-left: 25px;
}
.mainlayout .content .section .typemainSection {
  margin-top: 10vh;
}
.mainlayout .content .section .typemainSection .typeSelect {
  display: flex;
  height: 5vh;
  margin-top: 10px;
  margin-left: 1%;
  align-items: center;
  font-size: 0.9rem;
  overflow-x: scroll;
  scroll-behavior: smooth;
}
.mainlayout .content .section .typemainSection .typeSelect::-webkit-scrollbar {
  display: none;
}
.mainlayout .content .section .typemainSection .typeSelect .typeButton {
  margin-left: 0.5%;
  color: rgb(243, 234, 234);
  padding: 0.5%;
  border-radius: 10px 10px 0px 0px;
  border-top: solid 1px #494949; /* Top border */
  border-right: solid 1px #494949; /* Right border */
  border-bottom: none; /* No bottom border */
  border-left: solid 1px #494949; /* Left border */
  background: #191a1a;
  box-shadow: #f1f1f1;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.mainlayout .content .section .typemainSection .typeSelect .typeButton.active {
  scale: 1.1;
  border-radius: 10px 10px 0px 0px;
  background-color: rgba(241, 241, 241, 0.1568627451);
}
.mainlayout .content .section .typemainSection .typeSelect .typeButton:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2), 0 4px 6px rgba(0, 0, 0, 0.1);
}
.mainlayout .content .section .genresArea {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
.mainlayout .content .section .genresArea::-webkit-scrollbar {
  display: none;
}
.mainlayout .content .section .genresArea .movieGenreSugestArea {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  /* Adjust minmax value to fit more columns */
  gap: 10px; /* Adjust the gap between cards */
  padding: 15px;
}
.mainlayout .content .section .moviesArea {
  display: flex;
  height: auto;
  overflow-x: scroll;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.mainlayout .content .section .moviesArea::-webkit-scrollbar {
  display: none;
}
.mainlayout .content::-webkit-scrollbar {
  display: none;
}/*# sourceMappingURL=home.css.map */