body, html, #root {
    height: 100%;
    margin: 0;
  }
  


.mainlayout{
    display: flex;
    // flex-direction: row;
    height: 100vh;

    // .drawer, .content {
    //     flex: 1;
    // }

    & .drawer{
        display: flex;
        flex-direction: column;
        width: 5%;
        border-right: 1px solid rgba(255, 255, 255, 0.186);
        background:#191a1a ;
        box-shadow: 4px 0 10px rgba(0, 0, 0, 0.2) , /* Right-side shadow */
                    2px 0 5px rgba(0, 0, 0, 0.1) !important;
        place-items: center;
        align-content: center;

        & .mainicon{
            color: white;
        width:120%;
        font-size: 30px;
        margin-top: 20px;
        margin-bottom: 60px;
            
        }
        
        & .Icons{
        color: white;
        width:120%;
        font-size: 30px;
        margin-top: 10px;
        margin-bottom: 30px;
            
        
        
            // width:5%;
             /* Additional subtle right-side shadow */
        }
        & .bottomIcon{
        position: absolute;
        color: white;
        width:120%;
        font-size: 30px;
        bottom: 30px;
        }
        

    }
    & .content{
        width: 95%;
        background:#191a1a;
        overflow-y: scroll; 
            // overflow-y: none;
            scroll-behavior: smooth; 

        & .navSection{
            position: fixed;

        }

        & .section{

            & h1{
                color: azure;
                margin-top: 20px;
                font-size: 25px;
                margin-left: 25px;
            }

            & .moviesArea{
                display: flex;
                // flex-direction: column;
                height: auto;
                // overflow: hidden;
                overflow-x: scroll; 
                // overflow-y: none;
                scroll-behavior: smooth; 
                &::-webkit-scrollbar {
                            display: none;
                        }
                        // Hide scrollbar for Internet Explorer and Edge
                        -ms-overflow-style: none;
                        
                        // Hide scrollbar for Firefox
                        scrollbar-width: none;
                }
    }
    &::-webkit-scrollbar {
        display: none;
      }
       scrollbar-width: none; 
    }


}