@import url("https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap");
@import url("https://fonts.googleapis.com/css2?family=New+Amsterdam&family=SUSE:wght@100..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=New+Amsterdam&family=SUSE:wght@100..800&display=swap");
.HomeMain {
  display: flex;
  flex-direction: column;
  margin-top: 9vh;
  align-items: left;
}
.HomeMain .titlebox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 2%;
}
.HomeMain .titlebox .mainTitle {
  height: auto;
  display: inline-block;
  font-family: "Inter", sans-serif;
  background: linear-gradient(90deg, #4C83EF, #AB6EB3, #D0677D, #D46677);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  font-size: 2.7em;
  font-weight: 800;
}
.HomeMain .titlebox h2 {
  color: rgb(171, 171, 171);
  font-family: "SUSE", sans-serif;
  font-style: italic;
  justify-content: left;
  font-size: 1.2rem;
}
.HomeMain .Searchresults, .HomeMain .recommendations {
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  padding-left: 2%;
}
.HomeMain .Searchresults .devider, .HomeMain .recommendations .devider {
  display: flex;
  flex-direction: row;
}
.HomeMain .Searchresults .devider .subtitle1, .HomeMain .recommendations .devider .subtitle1 {
  flex: 1;
  padding-left: 2%;
  font-size: 1.3rem;
  font-weight: 600;
  color: rgb(233, 233, 233);
}
.HomeMain .Searchresults .devider .subtitle2, .HomeMain .recommendations .devider .subtitle2 {
  flex: 5;
  font-weight: 600;
  font-size: 1.3rem;
  color: rgb(233, 233, 233);
}
.HomeMain .Searchresults .searcharea, .HomeMain .recommendations .searcharea {
  display: flex;
  flex-direction: row;
}
.HomeMain .Searchresults .searcharea .subtitle1_mobile, .HomeMain .recommendations .searcharea .subtitle1_mobile {
  display: none;
}
.HomeMain .Searchresults .searcharea .subtitle2_mobile, .HomeMain .recommendations .searcharea .subtitle2_mobile {
  display: none;
}
.HomeMain .Searchresults .searcharea .subtitle, .HomeMain .recommendations .searcharea .subtitle {
  font-size: 1.3rem;
  color: rgb(233, 233, 233);
}
.HomeMain .Searchresults .searchedMovie {
  flex: 1;
  padding-left: 1%;
}
.HomeMain .Searchresults .carousel-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3vw;
  font-size: 2.5rem;
  color: white;
  text-shadow: 1px 4px 16px rgba(7, 7, 7, 0.849);
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
  transition: transform 0.3s ease-in-out;
}
.HomeMain .Searchresults .carousel-btn .left {
  padding-left: 1%;
}
.HomeMain .Searchresults .carousel-btn .right {
  margin-right: 1%;
}
.HomeMain .Searchresults .carousel-btn:hover {
  transform: scale(1.5);
}
.HomeMain .Searchresults .moviesArea_Mainpage {
  flex: 5;
  display: flex;
  flex-direction: row;
  align-items: start;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
.HomeMain .Searchresults .moviesArea_Mainpage::-webkit-scrollbar {
  display: none;
}
.HomeMain .Searchresults .mobileSimilarmovies {
  display: none;
}
.HomeMain .recommendations .subtitle {
  font-size: 1.3rem;
  color: rgb(233, 233, 233);
}
.HomeMain .recommendations .moveara {
  height: auto;
  display: flex;
  flex-direction: row;
}
.HomeMain .recommendations .moveara .carousel-btn {
  position: relative;
  display: flex;
  justify-content: center;
  place-items: center;
  width: 3vw;
  font-size: 2.5rem;
  color: white;
  text-shadow: 1px 4px 16px rgba(7, 7, 7, 0.849);
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
  transition: transform 0.3s ease-in-out;
}
.HomeMain .recommendations .moveara .carousel-btn .left {
  padding-left: 1%;
}
.HomeMain .recommendations .moveara .carousel-btn .right {
  margin-right: 1%;
}
.HomeMain .recommendations .moveara .carousel-btn:hover {
  transform: scale(1.5);
}
.HomeMain .recommendations .moveara .moviesArea_Recommendations {
  display: flex;
  flex-direction: row;
  align-items: start;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
.HomeMain .recommendations .moveara .moviesArea_Recommendations::-webkit-scrollbar {
  display: none;
}
@media (max-width: 430px) {
  .HomeMain .titlebox {
    display: flex;
    flex-direction: column;
    padding-left: 2%;
    padding-top: 10px;
    justify-content: center;
    place-items: center;
  }
  .HomeMain .titlebox .mainTitle {
    font-size: 1.7rem;
    font-weight: 700;
  }
  .HomeMain .titlebox h2 {
    font-size: 1rem;
    align-items: center;
    text-align: center;
  }
  .HomeMain .devider {
    display: none !important;
  }
  .HomeMain .searcharea {
    display: flex;
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
  }
  .HomeMain .searcharea .subtitle1_mobile {
    display: flex !important;
    flex-direction: row;
    padding-left: 5%;
    align-self: flex-start;
    font-size: 1rem;
    font-weight: 600;
    color: rgb(233, 233, 233);
  }
  .HomeMain .searcharea .subtitle2_mobile {
    display: flex !important;
    flex-direction: row;
    align-self: flex-start;
    padding-left: 5%;
    font-weight: 600;
    font-size: 1rem;
    color: rgb(233, 233, 233);
  }
  .HomeMain .searcharea .searchedMovie {
    flex: 1;
    padding-left: 1%;
    box-shadow: #ffffff;
  }
  .HomeMain .searcharea .moviesArea_Mainpage {
    display: none;
  }
  .HomeMain .searcharea .carousel-btn {
    display: none;
  }
  .HomeMain .searcharea .mobileSimilarmovies {
    display: flex;
    flex-direction: row;
    width: 95%;
  }
  .HomeMain .searcharea .mobileSimilarmovies .moviesArea_Mainpage {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: start;
    overflow-y: scroll;
    scroll-behavior: smooth;
  }
  .HomeMain .searcharea .mobileSimilarmovies .moviesArea_Mainpage::-webkit-scrollbar {
    display: none;
  }
  .HomeMain .searcharea .mobileSimilarmovies .carousel-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3vw;
    font-size: 2.5rem;
    color: white;
    text-shadow: 1px 4px 16px rgba(7, 7, 7, 0.849);
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
    transition: transform 0.3s ease-in-out;
  }
  .HomeMain .searcharea .mobileSimilarmovies .carousel-btn .left {
    padding-left: 1%;
  }
  .HomeMain .searcharea .mobileSimilarmovies .carousel-btn .right {
    margin-right: 1%;
  }
  .HomeMain .searcharea .mobileSimilarmovies .carousel-btn:hover {
    transform: scale(1.5);
  }
  .HomeMain .recommendations .subtitle {
    padding-left: 2%;
    font-size: 1rem;
    color: rgb(233, 233, 233);
  }
  .HomeMain .recommendations .moveara {
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .HomeMain .recommendations .moveara .carousel-btn {
    display: none;
  }
  .HomeMain .recommendations .moveara .moviesArea_Recommendations {
    width: 95%;
    display: flex;
    flex-direction: row;
    align-items: start;
    overflow-y: scroll;
    scroll-behavior: smooth;
  }
  .HomeMain .recommendations .moveara .moviesArea_Recommendations::-webkit-scrollbar {
    display: none;
  }
}

@keyframes gradientAnimation {
  0% {
    background: linear-gradient(90deg, #D46677, #D0677D, #AB6EB3, #4C83EF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  100% {
    background: linear-gradient(90deg, #4C83EF, #AB6EB3, #D0677D, #D46677);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}/*# sourceMappingURL=mainpage.css.map */