.movie-card {
    // border: 1px solid #ddd;
    border-radius: 8px;
    // padding: 10px;
    margin: 10px;
    width: 20vh;
    // height: 30vh;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 
    0 1px 3px rgba(0, 0, 0, 0.08);
    background-color: rgba(42, 42, 42, 0.636);
     transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    transform: scale(1.05);
    box-shadow: 
      0 8px 12px rgba(0, 0, 0, 0.2), 
      0 4px 6px rgba(0, 0, 0, 0.1);
  }
  }
  
  
  .movie-poster {
    width: wrap;
    height: auto;
    border-radius: 8px;
  }
  
  .movie-details {
    min-height: 8vh;
    // max-height: 10vh;
    margin-top: 10px;
    color:antiquewhite;
    cursor: pointer;
    align-items: center;
    & h3{
      display: -webkit-box;
    -webkit-line-clamp: 2; /* Limits to 3 lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    }
    
  }
  
  