.ribbon {
  display: flex;
  background-color: #191a1a;
  height: 8vh;
  position: fixed;
  width: 96%;
  color: white;
  align-items: center;
  display: flex;
  z-index: 1000;
  flex-direction: row;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5), 0 1px 3px rgba(0, 0, 0, 0.1);
}
.ribbon .left {
  display: flex;
  flex-direction: row;
  width: 40%;
}
.ribbon .left .tabs {
  display: flex;
  margin-left: 4%;
  height: 4.5vh;
  padding-left: 1%;
  padding-right: 1%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.ribbon .left .tabs.active {
  scale: 1.1;
  background: linear-gradient(0deg, #191a1a 0%, rgb(25, 26, 26) 100%);
  border-radius: 10px 10px 0px 0px;
  box-shadow: 0 -4px 4px rgba(164, 164, 164, 0.2), 0 -1px 2px rgba(164, 164, 164, 0.2);
}
.ribbon .left .tabs:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2), 0 4px 6px rgba(0, 0, 0, 0.1);
}
.ribbon .hamburger {
  display: none;
}
.ribbon .menu {
  display: none;
}
.ribbon .mid {
  width: 40%;
  justify-content: left;
}
.ribbon .mid .Searchbar {
  position: relative;
}
.ribbon .right {
  display: flex;
  flex-direction: row-reverse;
  width: 20%;
  flex-direction: row-reverse;
  right: 10px !important;
  margin-right: 3vw;
}
.ribbon .right .apps {
  margin-right: 5px;
  margin-left: 5px;
}
.ribbon .right .appsNotifi {
  margin-right: 5px;
  margin-left: 5px;
}
.ribbon .right .appsApps {
  margin-right: 5px;
  margin-left: 5px;
}
.ribbon .right .dots {
  display: none;
}
@media (max-width: 768px) {
  .ribbon {
    display: flex;
    flex-direction: row;
    height: auto;
    padding: 10px 0;
    width: 100vw;
  }
  .ribbon .left {
    display: none;
  }
  .ribbon .hamburger {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    font-size: 24px;
    margin-left: 10vw;
    margin-right: 5vw;
    color: white;
    transition: transform 0.3s ease-in-out;
  }
  .ribbon .hamburger.rotate {
    transform: rotate(180deg);
  }
  .ribbon .menu {
    flex-direction: column;
    justify-content: space;
    width: 40%;
    align-items: center;
    margin-top: 3%;
    margin-left: 10px;
    border-radius: 10px;
    background-color: rgba(25, 26, 26, 0.4941176471);
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    font-size: 1rem;
    padding: 5%;
    border: solid 1px #373737;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
  }
  .ribbon .menu.open {
    display: flex;
    position: absolute;
    top: 40px;
    transform: translateX(0);
  }
  .ribbon .mid {
    width: 50%;
    display: flex;
    justify-content: center;
  }
  .ribbon .right {
    position: absolute;
    display: flex;
    flex-direction: row-reverse;
    top: 15px;
    right: 10px;
    width: auto;
  }
  .ribbon .right .apps {
    margin-right: 5px;
    margin-left: 5px;
  }
  .ribbon .right .appsApps {
    display: none;
  }
  .ribbon .dots {
    width: 1000px;
    position: absolute;
  }
}
@media (max-width: 375px) {
  .ribbon .hamburger {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    font-size: 24px;
    margin-left: 10px;
    color: white;
  }
  .ribbon .menu {
    display: none;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    align-items: center;
    background-color: antiquewhite !important;
    margin-top: 3%;
    margin-left: 10px;
    border-radius: 10px;
    background-color: rgba(25, 26, 26, 0.4941176471);
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    font-size: 0.8rem;
    padding: 5%;
    border: solid 1px #373737;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: all;
  }
  .ribbon .menu .tabs {
    margin: 5px 0;
  }
  .ribbon .menu .tabs :hover {
    background-color: #dadada;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  .ribbon .mid {
    display: none;
    width: 70%;
  }
  .ribbon .right {
    display: flex;
    flex-direction: row-reverse;
    width: 20%;
    flex-direction: row-reverse;
    right: 10px !important;
    margin-right: 5px;
  }
  .ribbon .right .dots {
    display: flex;
    flex-direction: column;
    width: auto;
    color: white;
    position: relative;
    z-index: 1000;
    margin-right: 5px;
  }
}/*# sourceMappingURL=nacBar.css.map */