.ProfileArea{
    position: absolute;
    top:9vh;
    right:2vw;
    height: 50vh;
    width: 20vw;
    border-radius: 20px;
    // background-color: #f5f5f5;
    background: #333333cd;
    backdrop-filter: blur(5px);
    // transform: translateY(-50%);
    transition: right 0.5s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #afafaf5e;

    // & .slide-in {
    //     animation: slideIn 0.5s forwards ease-in-out;/* Fully visible when sliding in */
    //   }

    // & .slide-out {
    //     animation: slideOut 0.5s forwards ease-in-out; /* Fully visible when sliding in */
    //   }

}

.slide-in {
    animation: slideIn 0.5s forwards ease-in-out;
  }
  
  .slide-out {
    animation: slideOut 0.5s forwards ease-in-out;
  }
  
@keyframes slideIn {
    from {
        right: -20vw;
    }
    to {
        right: 1vw;
    }
}

@keyframes slideOut {
    from {
        right: 1vw;
    }
    to {
        right: -20vw;
    }
}