.ProfileArea{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top:9vh;
    right:2vw;
    height: inline-box;
    width: 20vw;
    border-radius: 20px;
    // background-color: #f5f5f5;
    background: #333333cd;
    backdrop-filter: blur(5px);
    // transform: translateY(-50%);
    transition: right 0.5s ease-in-out;
    box-shadow: 0 1px 8px rgba(167, 167, 167, 0.449);
    border: 1px solid #afafaf5e;


    & .title{
        margin-top: 3vh;
        display: flex;
        flex-direction: column;
        // background: #9f1111cd;
        // margin-top: 5%;

        & h1{
            color: white;
            // font-size: 1.5rem;
            // padding: 5%;
        }
        & .avatar{
            width: 4vw;
            height: 4vw;
            border-radius: 50%;
            margin-top: 8%;
        }

        align-items: center;
        justify-content: center;

}

& .details{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5vh;

    & h2{
        color: rgb(222, 222, 222);
        font-size: 1rem;
        margin-top: 5%;
    }
}
}
.slide-in {
    animation: slideInProfile 0.5s forwards ease-in-out !important;
  }
  
  .slide-out {
    animation: slideOutProfile 0.5s forwards ease-in-out !important;
  }
  
@keyframes slideInProfile {
    from {
        right: -20vw;
    }
    to {
        right: 1.2vw;
    }
}

@keyframes slideOutProfile {
    from {
        right: 1.2vw;
    }
    to {
        right: -20vw;
    }
}