.Searchbar{
    display: flex;
    justify-content: left;
    align-items: center;// background-color: aliceblue;
    & .inputSearch{
        
        // padding: 10px;
        width: 80%;
        max-width: 300px;
        padding: 8px;
        // border: 1px solid white;
        border-radius: 50px !important; /* Correct syntax */
        background-color: #2a2e2e; /* Correct syntax */
        color: white;

        & input{
           
            margin-left: 10px;
            background-color: transparent;
            outline: none;
            border: none;
        }
    }
}

@media (max-width:768px){
    .Searchbar{
        // background-color: rgb(10, 117, 210);
        left: 0px;
        // height: fixed;
        padding-left: 5vw;
        display: flex;
        position: inherit;
        & .inputSearch{
            width: 100%;
            max-width: 300px;
            padding: 5px;
            & input{
                width: 70%;
                margin-left: 5px;
               
            }
        }
    }

}
   

